body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
  body nav {
    height: 56px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #e4e4e4; }
    body nav menu {
      margin: 16px 0;
      padding: 0;
      float: left; }
      body nav menu .menu-btn {
        margin: 0 16px 0 0;
        float: left; }
        body nav menu .menu-btn .bar1, body nav menu .menu-btn .bar2, body nav menu .menu-btn .bar3 {
          width: 18px;
          height: 2px;
          background-color: #A0A0A0;
          margin: 3px 0;
          transition: 0.4s; }
      body nav menu .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-2px, 6px);
        transform: rotate(-45deg) translate(-2px, 6px); }
      body nav menu .change .bar2 {
        opacity: 0; }
      body nav menu .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-1px, -5px);
        transform: rotate(45deg) translate(-1px, -5px); }
      body nav menu #logo {
        width: 129px;
        float: right;
        padding-left: 10px; }
        body nav menu #logo img {
          width: 80px; }
    body nav #search-box {
      display: flex;
      flex-direction: row;
      margin: 0 40px;
      max-width: none;
      justify-content: flex-start;
      flex: 1;
      flex-basis: 0.0000000001px; }
      body nav #search-box .search-bar {
        border: 1px solid #CCCCCC;
        border-right: none;
        box-shadow: inset 0 1px 2px #a0a0a059;
        padding: 2px 6px;
        border-radius: 2px 0 0 2px;
        flex: 1; }
        body nav #search-box .search-bar input {
          outline: none;
          background-color: transparent;
          width: 100%;
          box-shadow: none;
          border: none;
          flex: 1;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          margin-left: 4px;
          max-width: 100%; }
        body nav #search-box .search-bar input::-webkit-input-placeholder {
          color: #8B8B8B;
          font-weight: lighter; }
      body nav #search-box .search-btn {
        cursor: pointer;
        width: 65px;
        border: 1px solid #C6C6C6;
        background-color: #F0F0F0;
        border-radius: 0 2px 2px 0;
        margin: 0;
        text-align: center;
        box-sizing: border-box;
        padding: 1px 8px 2px;
        display: inline-flex;
        align-items: flex-start;
        display: inline-block;
        color: #8f8f8f; }
        body nav #search-box .search-btn .fa.fa-search {
          display: inline-flex;
          padding: 5px;
          color: inherit; }
        body nav #search-box .search-btn:hover {
          color: #7b7b7b;
          background-color: #dbdbdb;
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
          border-color: #aeaeae; }
    body nav #icons {
      display: flex;
      flex-direction: row;
      min-width: 195px;
      justify-content: flex-end;
      align-items: center; }
      body nav #icons .fa {
        color: #A0A0A0;
        font-size: 22px;
        margin-left: 20px;
        padding: 10px; }
  body .body-container {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 20px;
    display: flex; }
    body .body-container .body-left {
      width: 640px; }
      body .body-container .body-left #video-info {
        min-height: 60px;
        padding: 20px 0 8px 0;
        display: block;
        border-bottom: 1px solid #e4e4e4; }
        body .body-container .body-left #video-info .vid-title {
          font-size: 1.2rem;
          line-height: 2.4rem;
          overflow: hidden;
          font-weight: 400; }
        body .body-container .body-left #video-info .vid-stats {
          display: flex;
          flex-direction: row;
          align-items: center;
          color: #A0A0A0; }
          body .body-container .body-left #video-info .vid-stats #flex {
            flex: 1; }
          body .body-container .body-left #video-info .vid-stats .vid-stat-icons {
            position: relative;
            display: flex; }
            body .body-container .body-left #video-info .vid-stats .vid-stat-icons .icon-block {
              margin-left: 10px; }
            body .body-container .body-left #video-info .vid-stats .vid-stat-icons .view-count {
              font-weight: lighter; }
            body .body-container .body-left #video-info .vid-stats .vid-stat-icons .flex {
              display: flex;
              flex-direction: row;
              height: 40px; }
            body .body-container .body-left #video-info .vid-stats .vid-stat-icons .fa {
              font-size: 20px;
              padding: 8px; }
            body .body-container .body-left #video-info .vid-stats .vid-stat-icons .vid-stats-text {
              padding-top: 12px;
              align-items: center;
              font-size: 12px; }
          body .body-container .body-left #video-info .vid-stats .like-bar {
            width: 126px;
            height: 2px;
            display: flex;
            background-color: #1e8de3; }
      body .body-container .body-left .vid-description-box {
        border-bottom: 1px solid #e4e4e4;
        min-height: 83px;
        display: block;
        margin-bottom: 24px;
        padding: 16px 0; }
        body .body-container .body-left .vid-description-box .description-top-row {
          margin-bottom: 12px;
          display: flex;
          flex-direction: row; }
          body .body-container .body-left .vid-description-box .description-top-row .channel-box {
            flex: 1;
            display: flex; }
            body .body-container .body-left .vid-description-box .description-top-row .channel-box .channel-icon {
              margin-right: 10px; }
              body .body-container .body-left .vid-description-box .description-top-row .channel-box .channel-icon .fa.fa-user-circle {
                font-size: 3em; }
            body .body-container .body-left .vid-description-box .description-top-row .channel-box .channel-info {
              flex: 1;
              display: flex;
              flex-direction: column;
              justify-content: center; }
              body .body-container .body-left .vid-description-box .description-top-row .channel-box .channel-info .channel-name {
                display: flex;
                flex-direction: row; }
                body .body-container .body-left .vid-description-box .description-top-row .channel-box .channel-info .channel-name .actual-name {
                  font-weight: bolder;
                  font-size: 14px; }
                body .body-container .body-left .vid-description-box .description-top-row .channel-box .channel-info .channel-name .fa.fa-check-circle {
                  color: #A0A0A0;
                  font-size: 13px;
                  margin-left: 5px;
                  margin-top: 2px; }
          body .body-container .body-left .vid-description-box .description-top-row .subscribe-btn-container {
            display: flex;
            flex-direction: column;
            justify-content: center; }
            body .body-container .body-left .vid-description-box .description-top-row .subscribe-btn-container .subscribe-btn {
              padding: 10px 16px;
              flex-direction: row;
              font-weight: 500;
              background-color: #ff0000;
              display: flex;
              font-weight: lighter;
              justify-content: center;
              align-items: center;
              border-radius: 2px;
              margin: auto 4px;
              letter-spacing: 0.007px;
              font-size: 13px; }
              body .body-container .body-left .vid-description-box .description-top-row .subscribe-btn-container .subscribe-btn .subscribe-text {
                color: #FFF;
                margin-right: 5px; }
              body .body-container .body-left .vid-description-box .description-top-row .subscribe-btn-container .subscribe-btn .subscribe-count {
                color: #d3d3d3; }
        body .body-container .body-left .vid-description-box .vid-description {
          margin-left: 58px;
          font-size: 13px; }
      body .body-container .body-left .vid-comments .comments-header {
        margin-bottom: 24px;
        display: flex;
        flex-direction: row; }
        body .body-container .body-left .vid-comments .comments-header .comments-count {
          margin-right: 32px;
          display: inline-block;
          align-items: flex-start; }
        body .body-container .body-left .vid-comments .comments-header .comments-sort {
          font-size: 13px;
          color: #707070; }
      body .body-container .body-left .vid-comments .your-comment {
        display: flex;
        margin-bottom: 32px; }
        body .body-container .body-left .vid-comments .your-comment .user-icon {
          font-size: 3em;
          margin-right: 16px; }
        body .body-container .body-left .vid-comments .your-comment .input {
          flex: 1; }
          body .body-container .body-left .vid-comments .your-comment .input input {
            cursor: text;
            padding-bottom: 4px;
            border-bottom: 1px solid #707070;
            flex: 1;
            flex-basis: 0.000000001px;
            outline: none;
            border: none;
            font-size: 1em;
            line-height: 2.1em;
            width: 100%; }
          body .body-container .body-left .vid-comments .your-comment .input .input-line {
            height: 1px;
            background-color: #e8e8e8; }
      body .body-container .body-left .vid-comments .single-comment {
        display: flex;
        flex-direction: row;
        margin-bottom: 16px; }
        body .body-container .body-left .vid-comments .single-comment .user-icon {
          font-size: 3em;
          margin-right: 16px; }
      body .body-container .body-left .vid-comments .comment-content-box {
        display: flex;
        flex-direction: column;
        font-size: 13px; }
        body .body-container .body-left .vid-comments .comment-content-box .comment-content-top {
          display: flex;
          flex-direction: row;
          margin-bottom: 4px; }
          body .body-container .body-left .vid-comments .comment-content-box .comment-content-top .user-name {
            font-weight: bold; }
          body .body-container .body-left .vid-comments .comment-content-box .comment-content-top .comment-date {
            color: #707070;
            margin-left: 8px; }
      body .body-container .body-left .vid-comments .comment-content {
        font-size: 14px; }
      body .body-container .body-left .vid-comments .comment-actions {
        margin-top: 4px;
        display: flex;
        flex-direction: row;
        font-weight: 400;
        color: #A0A0A0; }
        body .body-container .body-left .vid-comments .comment-actions .like-count, body .body-container .body-left .vid-comments .comment-actions .comment-reply {
          padding-top: 6px; }
        body .body-container .body-left .vid-comments .comment-actions .fa {
          font-size: 15px;
          padding: 6px; }
    body .body-container .body-right {
      width: auto;
      margin-left: 24px; }
      body .body-container .body-right .video-sidebar .up-next {
        padding-bottom: 5px;
        margin-bottom: 10px;
        border-bottom: 1px solid #e5e5e5; }
        body .body-container .body-right .video-sidebar .up-next .up-next-header {
          display: flex;
          flex-direction: row;
          align-items: center; }
          body .body-container .body-right .video-sidebar .up-next .up-next-header .up-next-text {
            flex: 1; }
          body .body-container .body-right .video-sidebar .up-next .up-next-header .autoplay-box {
            color: #707070; }
        body .body-container .body-right .video-sidebar .up-next .up-next-video {
          margin-top: 10px; }
      body .body-container .body-right .video-box {
        display: flex;
        flex-direction: row; }
        body .body-container .body-right .video-box .video-contents {
          width: 400px;
          margin-left: 6px;
          display: flex;
          flex-direction: column; }
          body .body-container .body-right .video-box .video-contents .video-title {
            font-size: 14px;
            font-weight: bold; }
          body .body-container .body-right .video-box .video-contents .video-channel, body .body-container .body-right .video-box .video-contents .video-views {
            color: #707070;
            font-size: 13px; }
      body .body-container .body-right .video-list .video-box {
        margin-bottom: 5px; }

@media (min-width: 1294px) {
  .body-left {
    width: 480px; }

  .body-right {
    width: 702px; } }

/*# sourceMappingURL=youtube.css.map */
